<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" href="__PUBLIC__/css/core.css" />
<link rel="stylesheet" href="__PUBLIC__/css/admin.css" />
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5.js"></script>
<script src="__PUBLIC__/js/IE9.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery.js"></script>
<script>var CMS_ROOT = '__ROOT__/';</script>
</head>
<body>
<div class="wrap"> 
  