{include common/header}
<script type="text/javascript">
$.validator.addMethod("vc",function(value){ 
   if(editor.getContent().length<10){ 
    return false; 
   } else{
	    return true;
	}  
},"内容必须大于10个字符");
$(document).ready(function(){	
	// validate signup form on keyup and submit
	var validator = $("#articleform").validate({
		rules: {
			thumb:{accept:"gif|png|jpg|jpeg"},
			title: {
 				required: true,
 				minlength: 1
			},
			content: {
 				vc: true
			},
			keywords:{
				maxlength:100
			},
			description:{
				maxlength:200
			}
			
		},
		messages: {
				thumb:{accept:"只能上传gif，png，jpg，jpeg格式的文件"},
				title: { 
					required: "请填写标题！",
 					minlength: $.format("至少要{0}个字符！") 								
				},
				content: { 
					vc: "内容必须大于10个字符！"							
				},
				keywords:{
					maxlength:$.format("最多{0}个字符！")
				},
				description:{
					maxlength:$.format("最多{0}个字符！")
				}
			
		},
		// the errorPlacement has to take the layout into account
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent().find('label:first'));			
		},
		// set new class to error-labels to indicate valid fields
		success: function(label) {
			// set &nbsp; as text for IE			
			label.html("&nbsp;").addClass("ok");
		}
	});

});

</script>


<div class="content"> <div class="box box-info">提示：你可以编辑内容和分类 </div><a href="{url('article/lists',array('cid'=>$article['cid']) )}" class="btn btn-blue">列 表</a>
  <form action="{url('article/edit')}" method="post" enctype="multipart/form-data" id="articleform">
  	<p>
      <label for="thumb">缩略图</label>      <br>
      <input type="file" name="thumb" id="thumb" />
    </p>
    <p>
      <label for="title" class="required">标题</label>      <br>
      <input type="text" name="title" id="title" value="{$article['title']}" class="half">
    </p>
    <p>
      <label for="cid">分类</label>      <br>
      <select name="cid" id="cid">        
        {loop $cattree $val}
            <option value="{$val['id']}" {if $article['cid']==$val['id']}selected{/if}>{$val['ctitle']}</option>
        {/loop}
      </select>
    </p>
    <p>
      <label for="content" class="required">内容</label>      <br>
      <textarea id="content" name="content" class="full large" >{$article['content']}</textarea>
      <link href="__PUBLIC__/js/editor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
      <script type="text/javascript" src="__PUBLIC__/js/editor/umeditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/editor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/editor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    var ue = UM.getEditor('content');
    
    //1.2.4以后可以使用一下代码实例化编辑器
    //UE.getEditor('myEditor')
</script>
    </p>
    <p>
      <label for="keywords">标签(关键字)</label><br>
      <input type="text" name="keywords" id="keywords" class="half"  value="{$article['keywords']}">
    </p>
    <p>
      <label for="description">摘要</label><br>
      <textarea type="text" name="description" id="description" class="half small">{$article['description']}</textarea>
    </p>
    <p>
      <input type="hidden" name="id" value="{$article['id']}">
      <button type="submit" class="btn btn-green big">提交</button>
    </p>
    {$_G['formhash']}
  </form>
</div>
{include common/footer}