{include common/header}
<div class="wrap"> 
  <div class="content">  
		<a href="{url('member/add')}" class="btn btn-blue">添加用户</a>
        {include member/searchform}
            <table class="table table-bordered table-striped table-hover stylized">
					<thead>
						<tr>
							<th>用户名</th>
							<th>姓名</th>
							<th>手机</th>
							<th>地址</th>
							<th>资料修改</th>
							<th>密码修改</th>
							<th>删除</th>
						</tr>
					</thead>
					<tbody>
					{loop $list $member}
						<tr>
							<td>{$member['username']}</td>
							<td>{$member['name']}</td>
							<td>{$member['mobile']}</td>
							<td>{$member['address']}</td>
							<td><a href="{url( 'member/edit', array('uid'=>$member['uid']) )}">修改</a></td>
							<td><a href="{url( 'member/password', array('uid'=>$member['uid']) )}">修改</a></td>
							<td><a href="{url( 'member/del', array('uid'=>$member['uid']) )}">删除</a></td>
						</tr>
				    {/loop}
					</tbody>
				</table>	       
  </div>
</div>
{include common/footer}