{include common/header}
<script type="text/javascript">
$.validator.addMethod("vc",function(value){ 
   if(editor.getContent().length<10){ 
    return false; 
   } else{
	    return true;
	}  
},"内容必须大于10个字符");
$(document).ready(function(){	
	// validate signup form on keyup and submit
	var validator = $("#bannerform").validate({
		rules: {
			thumb:{accept:"gif|png|jpg|jpeg"},
			title: {
 				required: true,
 				minlength: 1
			},
			content: {
 				vc: true
			},
			keywords:{
				maxlength:100
			},
			description:{
				maxlength:200
			}
			
		},
		messages: {
				thumb:{accept:"只能上传gif，png，jpg，jpeg格式的文件"},
				title: { 
					required: "请填写标题！",
 					minlength: $.format("至少要{0}个字符！") 								
				},
				content: { 
					vc: "内容必须大于10个字符！"							
				},
				keywords:{
					maxlength:$.format("最多{0}个字符！")
				},
				description:{
					maxlength:$.format("最多{0}个字符！")
				}
			
		},
		// the errorPlacement has to take the layout into account
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent().find('label:first'));			
		},
		// set new class to error-labels to indicate valid fields
		success: function(label) {
			// set &nbsp; as text for IE			
			label.html("&nbsp;").addClass("ok");
		}
	});

});

</script>


<div class="content"> <div class="box box-info">提示：你可以编辑内容和分类 </div><a href="{url('banner/lists',array('cid'=>$banner['cid']) )}" class="btn btn-blue">列 表</a>
  <form action="{url('banner/edit')}" method="post" enctype="multipart/form-data" id="bannerform">
  	<p>
      <label for="thumb">缩略图</label>      <br>
      <input type="file" name="thumb" id="thumb" />
    </p>
    <p>
      <label for="title" class="required">标题</label>      <br>
      <input type="text" name="title" id="title" value="{$banner['title']}" class="half">
    </p>
    <p>
      <label for="content" class="required">连接</label>      <br>
      <input type="text" name="content" id="content" value="{$banner['content']}" class="half">
      

    </p>
    <p>
    <input type="hidden" name="cid" value="{$banner['cid']}">
      <input type="hidden" name="id" value="{$banner['id']}">
      <button type="submit" class="btn btn-green big">提交</button>
    </p>
    {$_G['formhash']}
  </form>
</div>
{include common/footer}